.nav__bars-btn {
  width: 28px;
  height: 28px;
  color: black;
  display: none;
}
.nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.2s;
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #107dff;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
}
.nav__mobile-list {
  margin-top: 24px;
}
.nav__mobile-link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem;
}
.nav__mobile-close {
  width: 28px;
  height: 28px;
  color: #666;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.nav__input {
  display: none;
}
.nav__input:checked ~ .nav__overlay {
  display: block;
}
.nav__input:checked ~ .nav__mobile {
  transform: translateX(0%);
  opacity: 1;
}
@media (max-width: 1023px) {
  .nav__bars-btn {
    display: block;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content1 {
  padding-top: 200px;
  padding-left: 110px;
  @media only screen and (max-width: 999px) {
    padding-top: 70px;
    padding-left: 0px;
  }
  @media only screen and (min-width: 1920px) {
    padding-top: 230px;
    padding-left: 300px;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2.3 rem;
    line-height: 1.3;
    font-weight: 600;
    color: #107dff;

    @media only screen and (max-width: 999px) {
      font-size: 20px;
      text-align: center;
    }
  }
  &__desc {
    font-weight: 400;
    margin-bottom: 2.3rem;
    color: #888888;
    font-size: 1.6rem;
    line-height: 1.8;
    i {
      color: #107dff;
    }
    @media only screen and (max-width: 999px) {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  &__button {
    border-radius: 30px;

    @media only screen and (max-width: 999px) {
      text-align: center;
      margin-left: 90px;
      font-size: 1.3rem !important;
    }
  }
  &__image {
    @media only screen and (max-width: 999px) {
      // padding-top: 40px !important;
    }
  }
}
.content {
  padding-top: 100px;
  padding-left: 160px;
  @media only screen and (max-width: 999px) {
    padding: 10px 40px;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2.3 rem;
    line-height: 1.3;
    font-weight: 600;
    color: #107dff;

    @media only screen and (max-width: 999px) {
      font-size: 20px;
      text-align: center;
    }
  }
  &__desc {
    font-weight: 400;
    margin-bottom: 2.3rem;
    color: #888888;
    font-size: 1.6rem;
    line-height: 1.8;
    i {
      color: #107dff;
    }
    @media only screen and (max-width: 999px) {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  &__button {
    border-radius: 30px;

    @media only screen and (max-width: 999px) {
      text-align: center;
      margin-left: 90px;
      font-size: 1.3rem !important;
    }
  }
  &__image {
    @media only screen and (max-width: 999px) {
      // padding-top: 40px !important;
    }
  }
}

.traking {
  &__card {
    border: 2px solid #107dff;
    border-radius: 10px;
    img {
      padding: 40px;
      @media only screen and (max-width: 999px) {
        padding: 10px;
      }
    }
  }
  &__text {
    color: #107dff;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 5px 40px 40px 40px;
    @media only screen and (max-width: 999px) {
      font-size: 1rem;
      padding: 0 5px;
    }
  }
}

.content2 {
  padding-top: 80px;
  padding-left: 20px;
  @media only screen and (max-width: 999px) {
    padding: 10px 40px;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2.3 rem;
    line-height: 1.3;
    font-weight: 600;
    color: #107dff;

    @media only screen and (max-width: 999px) {
      font-size: 20px;
      text-align: center;
    }
  }
  &__desc {
    font-weight: 400;
    margin-bottom: 2.3rem;
    color: #888888;
    font-size: 1.6rem;
    line-height: 1.8;
    i {
      color: #107dff;
    }
    @media only screen and (max-width: 999px) {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  &__button {
    border-radius: 30px;

    @media only screen and (max-width: 999px) {
      text-align: center;
      margin-left: 90px;
      font-size: 1.3rem !important;
    }
  }
  &__image {
    padding-top: 80px;
    @media only screen and (max-width: 999px) {
      padding-top: 0px;
    }
  }
}
.dangky {
  background-color: #107dff;
  &__size {
    padding: 50px 350px;
    text-align: center;
    @media only screen and (max-width: 999px) {
      padding: 20px 40px;
    }
  }
  &__title {
    color: white;
    font-weight: 600;
    font-size: 2.7rem;
    @media only screen and (max-width: 999px) {
      font-size: 2rem;
    }
  }
  &__nhap {
    padding-top: 30px;

    &-input {
      border-radius: 40px;
      border: none;
      outline: none;
      text-align: center;
      padding: 20px 130px 20px 130px;
      margin-right: 10px;
      font-size: 15px;
      color: #666;
      font-style: italic;
      &:hover {
        background-color: none;
      }
      @media only screen and (max-width: 999px) {
        padding: 12px;
      }
    }
    button {
      background-color: rgb(255, 230, 0) !important;
      // color: black;
      border: none;
      border-radius: 40px;
      padding: 17px 60px 17px 60px;
      @media only screen and (max-width: 999px) {
        padding: 7px 20px 7px 20px;
        margin-bottom: 5px;
      }
    }
  }
  &__desc {
    color: rgb(240, 236, 236);
    font-size: 1.5rem;
    padding-top: 30px;
    @media only screen and (max-width: 999px) {
      padding: 30px;
      margin-bottom: 2px;
    }
    span {
      color: white;
      font-weight: bold;
    }
  }
}
