html {
  font-size: 62.5%; //1rem = 10px
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@mixin flex(
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap,
  $dir: row
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $dir;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
.logo {
  width: 150px;
  height: auto;
  // color: white !important;
  @media only screen and (max-width: 999px) {
    width: 140px;
    height: auto;
  }
}
.fixed-top {
  background-image: url('./images/z.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  // padding-bottom: 30px;
}
.navbar {
  &__menu {
    // width: 100%;
    // background-image: url('./images/z.PNG');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.nav-item {
  margin-right: 40px !important;
}
.nav-link {
  &__link {
    font-size: 1.6rem;
    color: white !important;
    transition: color 0.25s linear, border 0.25s linear; //giup hover nhanh hon
    &:hover {
      color: black !important;
    }
  }
  &__version {
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #107dff;
    background-color: white;
    border-radius: 30px;
    padding-top: 15px;
    transition: color 0.25s linear, border 0.25s linear; //giup hover nhanh hon
    &:hover {
      color: black;
      background-color: yellow;
    }
  }
}
.start {
  padding-top: 250px;

  &__text {
    font-size: 1.5rem;
    padding-bottom: 50px;

    border-bottom: 1px solid black;
  }
}
.catelogy {
  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    @media only screen and (max-width: 999px) {
      font-size: 20px;
      padding: 0 25px;
    }
  }
  &__text {
    font-size: 1.5rem;
    margin-bottom: 15px;
    @media only screen and (max-width: 999px) {
      font-size: 14px;
      padding: 0 25px;
    }
  }

  i {
    font-size: 1.5rem;
  }
  &__border-bottom {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
