.banner {
  background-image: url('images/privacy/banner.PNG');
  height: 600px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;

  @media only screen and (max-width: 999px) {
    padding-top: 150px;
  }
}
.feature {
  padding-top: 12rem;

  &__imagePTS {
    padding-top: 50px;
  }

  &__title {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    color: $text-color;
    text-align: left !important;

    @media only screen and(max-width: 999px) {
      font-size: 20px;
    }
  }
  &__desc {
    text-align: left !important;

    font-weight: 400;
    margin-bottom: 2.5rem;
    color: $text-gray;
    font-size: 1.5rem;
    line-height: 1.8;
    i {
      color: $text-color;
      margin-right: 0.5rem;
    }
    @media only screen and(max-width: 999px) {
      font-size: 15px;
    }
  }
  &-intro__list {
    font-weight: 300;
    font-size: 14px !important;
    margin-bottom: 0rem;
    line-height: 1.8;
    // text-align: left !important;
    padding: 0rem !important;
  }
}
.feature__one {
  padding: 0px 70px;
  @media only screen and(max-width: 999px) {
    padding: 0px 40px;
    height: auto;
    margin-bottom: 100px;
  }
}
.feature__two {
  padding-left: 3rem;
}
.feature__three {
  padding-right: 0rem;
}
.bangmau {
  background-color: #34ca9a !important;
  padding: 0px 10px !important;
}
