.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #107dff;
  color: white;
  &__title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
    @media only screen and(max-width:999px) {
      height: 50px;
      width: auto;
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  &__mobie {
    font-family: Arial, Helvetica, sans-serif;
    @media only screen and(max-width:999px) {
      width: 200px;
      height: auto;
      font-size: 8px;
    }
  }
  &__image {
    padding: 0px 17px;
  }
  &__content {
    font-weight: 400;
    font-size: 14px;
    @media only screen and(max-width:999px) {
      font-size: 8px;
    }
  }
  &__list {
    padding: 0 0;
  }
  &__listtwo {
    padding: 0px 0px;
    --bs-gutter-x: 0rem;
  }
  &__name {
    font-weight: 300;
    font-size: 16px;
    color: rgba(248, 248, 248, 0.863);
    @media only screen and(max-width:999px) {
      font-size: 8px;
    }
  }
  &__number {
    font-size: 15px;
    font-weight: 600;
    @media only screen and(max-width:999px) {
      font-size: 10px;
    }
  }
  &__hr {
    // width: 100px;
    text-align: center;
    margin: 0 auto;
    color: white;
    // padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    // height: 3px !important;
    border: 1px solid white;
    margin-left: 16px;
    @media only screen and(max-width:999px) {
      margin-left: 0px;
      width: 90%;
      margin-left: 10px;
    }
  }
  &__logo {
    padding-bottom: 35px;
    @media only screen and(max-width:999px) {
      padding: 10px 110px;
      width: 90%;
    }
  }
  &__nameend {
    h4{
      margin-top: 60px;
    }
    h3 {
      margin-top: 30px;
      margin-left: 30px;
      font-size: 25px;
      margin-bottom: 10px;
      font-weight: 400px;
    }
    i {
      font-size: 25px;
      margin-left: 30px;
      @media only screen and(max-width:999px) {
        font-size: 15px;
      }
    }
    h4,
    h3,
    i {
      @media only screen and(max-width:999px) {
        text-align: center;
        padding: 0 40px;
        justify-content: center;
        padding-top: 0px;
        margin-left: 0px;
      }
    }
  }
}
.end {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f64c9;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: white;
  &__list {
    color: white;
    padding: 0 30px;
    border-right: 1px solid white;
    @media only screen and(max-width:999px) {
      // padding: 0 10px;
      // margin-top: 10px;
      text-align: center !important;
      padding-top: 5px;
    }
  }
}
