.fixed-top {
  // background-image: url('./images/z.PNG');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  // box-shadow: 0px 2px 25px rgba(33, 18, 168, 0.131);
  // box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.130982);
  &.active {
    // background: red;
    background-image: url('./images/z.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    .contact_blue{
      background-color: white;
      outline: none;
      border-radius: 2px;
    }
    .nav-link {
      &__link {
        font-size: 1.6rem;
        color: white !important;
        transition: color 0.25s linear, border 0.25s linear; //giup hover nhanh hon
        &:hover {
          color: black !important;
        }
      }
      &__version {
        margin-right: 10px !important;
        height: 40px;
        width: 150px;
        font-weight: bold;
        font-size: 14px;
        // text-align: center;
        // align-items: center;
        
        color: black !important;
        background-color: white;
        border-radius: 30px;
        padding-top: 10px;
        transition: color 0.3s linear, border 0.3s linear; //giup hover nhanh hon
        &:hover {
          color: white !important;
          background-color: #107dff;
        }
      }
    }
  }
  // &__menu {

  // }
}
.nav-item {
  margin-right: 30px !important;
}

.nav-link {
  &__link {
    font-size: 1.6rem;
    color: #107dff !important;
    transition: color 0.25s linear, border 0.25s linear; //giup hover nhanh hon
    &:hover {
      color: black !important;
    }
  }
  &__version {
    margin-right: 10px !important;
    height: 40px;
    width: 150px;
    font-weight: bold;
    font-size: 14px;
    // text-align: center;
    // align-items: center;
    color: white !important;
    background-color: #107dff;
    border-radius: 30px;
    padding-top: 10px;
    transition: color 0.3s linear, border 0.3s linear; //giup hover nhanh hon
    &:hover {
      color: white !important;
      background-color: #107dff;
    }
  }
}
